* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}


body {
	height: 100px;
	background-color: rgb(14, 1, 20);
	display: flex; 
    justify-content: center;
	align-items: center;
	
    background-repeat: no-repeat;
    background: linear-gradient(to right, rgb(234, 253, 255), rgba(255,255,255,0)), url("../img/fd.jpg");
    position: relative;
	background-size:cover;
}


.login {
	height: 600px;
	position: absolute;
    margin-right: 850px;
    margin-top: 40px;
	animation: fadeInUp;
	animation-duration: 2s;
}


.logojap {
    width:700px;
    margin-right: 700px;
    margin-top: 250px;
	animation: fadeInDown;
	animation-duration: 2s;
} 

.principal {
    width: 70px;
	height: 70px;
	margin-left: 1000px;
	margin-top: 500px;
}


.formulario {
	width: 450px;
	height: 350px;
	display:block;
	position: absolute;
	background-color: rgba(205, 232, 245, 0.336);
	border: none;
	border-radius: 20px;
	padding: 40px 40px;
	top: 480px;
	left: 999px;
	text-align: center;
	box-shadow: beige 1px 1px 10px 1px;
}

.formulario input,label,button {
	display: block;
	width: 100%;
	margin: 15px 3px 3px;
}

.formulario input {
	height: 40px;
	border: none;
	border-radius: 25px;
	padding: 2px 5px 5px 25px;
	outline: none;
	background: linear-gradient(rgb(107, 189, 228), transparent);
	color: rgb(1, 16, 20);
}


/*.formulario button:hover {
	background-color: rgb(128, 196, 233);
	text-transform: inherit;
	box-shadow: inherit;
	font-variant: small-caps;
}*/

.ingresa {
	color: rgb(46, 49, 78);
    font-family:Arial, Helvetica, sans-serif;
	text-shadow: rgb(241, 241, 245)  2px 3px 3px;
}


input::placeholder {
	color: rgb(4, 36, 51);
	font-family:Arial, Helvetica, sans-serif;
}

#nombre::placeholder{  /* llamo por id al input */
	font-family: "Font Awesome 5 Free", Arial, helvetica, sans-serif; 
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-weight: 510;
}

#correo::placeholder{  /* llamo por id al input */
	font-family: "Font Awesome 5 Free", Arial, helvetica, sans-serif; 
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-weight: 510;
}

input:valid {
	background-color: rgb(181, 238, 240);
}
.error{
	font-size: 11px;
	color: darkred;
}

/************ Botón hover effect ************/

/* Lato font */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.btningresar{
	position: relative;
	letter-spacing: 0.45em;
	padding: 1.3rem 2.5rem;
	background: transparent;
	outline: none;
	font-size: 13px solid;
	color: rgb(2, 40, 54);
	cursor: pointer;
	border: none;
	height: 40px;
	margin-left: 45px;
	outline: none;  
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
}

.btningresar::after,
.btningresar::before {
	position: absolute;
	height: 100%;
	width: 43.5%;
	transform: skewX(30deg);
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	z-index: -2;
	padding-top: 9px;
	color: black;
}
.btningresar::after {
	content: "ESAR";
	text-align: left;
	background-color: rgba(8, 176, 248, 0.603);
	top: 1rem;
	left: 8rem;
}

.btningresar::before {
	content:"INGR";
	text-align: right;
	background-color: rgba(8, 102, 126, 0.616);
	top: -1rem;
	left: 0rem;
}

.btningresar:hover::after {
    top: 0;
	left: 9rem;
	transform: skewx(0deg);
	background-color: rgba(8, 176, 248, 0.603);
}
.btningresar:hover::before{
    top: 0;
	left: -1rem;
	transform: skewx(0deg);
	background-color: rgba(8, 102, 126, 0.616);
}


.btningresar::after {
	left: 0rem;
}

.btningresar::before {
	left: 8rem;
}

.btningresar:focus{
	outline-width: 0.5px;
	outline-style: dashed;
	outline-color: rgba(255, 255, 255, 0);
  }
  

/*********************************************************+*/

