.jumbotron, .card-body, .container, .site-header{
    font-family: 'Raleway', serif !important;
}

.jumbotron .display-4{
    font-weight: bold;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead{
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone{
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.alert{
  position: fixed;
  top:80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top:50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper{
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

/*** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***/

#buscador::placeholder{  /* llamo por id al input buscador asi no me cambia todos los placeholder*/
  font-family: "Font Awesome 5 Free", Arial, helvetica, sans-serif; 
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-weight: 510;
}

#dejarcoment::placeholder{
  font-family: "Font Awesome 5 Free", Arial, helvetica, sans-serif; 
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-weight: 510;
  color: rgb(4, 131, 57);
  float:right;
  padding-right: 10px;
}

.sinfoco{    /*  sacar bordes feos al hacer foco! -_-  */
	outline-width: 0.5px;
	outline-style: dashed;
	outline-color: rgba(255, 255, 255, 0.021);
}
#dejarcoment{
  color: rgb(4, 131, 57);
}

#dejarcoment:hover{
  animation: flash;
  animation-duration: 1s;
}


#comentsusers:hover{
  animation: fadeIn;
  animation-duration: 1s;
}

#div-dejarcoment{
  background-image: url('../img/sa.gif');
  background-size:contain;
  background-position:right;
  background-repeat: no-repeat;
  height: 200px;
  width: auto;
}

#zoomimage:hover{
  animation: pulse;
  animation-duration: 0.7s;
}


/****** TRANSPARENCIA AL SALTAR SWAL ALERT en comentario ******/
body.swal2-shown > [aria-hidden="true"] {
  transition: 0.1s filter;
  filter: blur(10px);
}

/************************ DIV Total carrito **********************/
#cost {
  position:fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  padding: 17px 0;
  background: linear-gradient(to left, #ffffffda, rgba(181, 250, 160, 0.966), #ffffffda);
  box-shadow: 0 5px 50px 15px rgb(0 0 0 / 30%);
  text-align: center;
  font-weight: bold;
}
#cost:hover{
  animation: headShake;
  animation-duration: 1s;
  background: linear-gradient(to right, rgba(52, 78, 44, 0.966) ,#ffffffda, rgba(181, 250, 160, 0.966));
}

#cost.importe {
  height: 0;
  line-height: 25px;
  color: #000000;
  top: 0;
  position: relative;
}
.monto{
  font:"Open sans", sans-serif;
  font-size: 20px;
}



/****************** zoom imagenes de producto *****************/
.zoom:hover {
  transform: scale(1.30);
  transition: ease 0.7s;
  filter:brightness(1.3);
  margin-left: 20px;
}
.zoom {
  transition: ease 0.5s;
}


/*************************  PUNTUACIÓN *************************/

.puntuacion {
  position: absolute;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 100px;
  margin-left: 20px;
}

  .puntuacion input {
  position: absolute;
  top: -100px;
  width: 30px;
  }

  .puntuacion label {
  float: right;
  color: #c1b8b8;
  font-size: 20px; 
  width: 30px;
  }

  .puntuacion label:hover{
    animation: rotateIn;
    animation-duration: 0.7s; 
  }

  #radio1:hover ~ label{
    color: rgba(255, 0, 0, 0.550) !important;
  }
  #radio1:checked ~ label {
    color: rgb(255, 0, 0);
  } 
  #radio2:hover ~ label{  
    color: rgba(255, 72, 0, 0.550) !important;
  }
  #radio2:checked ~ label{
    color: rgb(255, 72, 0);
  } 
  #radio3:hover ~ label{
    color: rgb(255, 145, 0, 0.550) !important;
  }
  #radio3:checked ~ label{
    color: rgb(255, 145, 0);
  } 
  #radio4:hover ~ label{
    color: rgb(238, 195, 6, 0.550) !important;
  }
  #radio4:checked ~ label{
    color: rgb(238, 195, 6);
  } 
  #radio5:hover ~ label{
    color: rgb(49, 165, 49, 0.550) !important;
  }
  #radio5:checked ~ label{
    color: rgb(49, 165, 49);
  } 


 .stars{        /*estrellas y nombre usuario de color en comentarios del json*/
  color: rgba(231, 179, 7, 0.801);
}

.green{          /*color nombre de usuario en publicar comentario */
  color: rgb(4, 107, 76); ;
}

.orange{
  color: rgb(252, 95, 52);
}


/******************************* BOTON IR ARRIBA ********************************/

button.back-to-top{
  margin: 0 !important;
  padding: 0 !important;
  background: #fff;
	height: 0px;
  width: 0px;
  overflow: hidden;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
  color: transparent;
	clear: both;
  visibility: hidden;
  position: fixed;
  cursor: pointer;
  display: block;
  border: none;
  right: 50px;
	bottom: 75px;
  font-size: 0px;
  outline: 0 !important;
  z-index: 99;
  transition: all .3s ease-in-out;
}
button.back-to-top:hover,
button.back-to-top:active,
button.back-to-top:focus{
  outline: 0 !important;
}
button.back-to-top::before {
 /* content: "";  */
  font-family: "Font Awesome 5 Free";
  display: block;
 /* vertical-align: middle; */
  margin: -5px 0 auto;
}
button.back-to-top.show {
  display: block;
  color: rgb(255, 255, 255);
  background: #19f3cfd0;
  font-size: 25px;
  right: 25px;
	bottom: 50px;
  height: 50px;
  width: 50px;
  visibility: visible;
	box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}
button.back-to-top.show:active {
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
}



/***************** BOTON type1 ***************************/

@import url('https://fonts.googleapis.com/css?family=Raleway');

.type1,.type2,.type3,.type4{
  position: relative;
  padding: 0.8em 1em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 15px;
  margin: 1em 0.8em;
}

.type1:focus,
.type2:focus,
.type3:focus,
.type4:focus{
  outline-width: 0.5px;
  outline-style: dashed;
  outline-color: rgb(255, 255, 255);
}


.type1{
  color:rgb(29, 165, 124);
}

.type1::after,
.type1::before{
  content: '';
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}

.type1::after{
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: rgb(29, 165, 124);
  border-right-color: rgb(29, 165, 124);
}

.type1::before{
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: rgb(29, 165, 124);
  border-left-color: rgb(29, 165, 124);
}

  
.type1:hover:after,
.type1:hover:before{
  width: 107%;
  height: 117%;
}


/***************** BOTON type2 *********************/
.type2{
  color:rgba(6, 103, 128, 0.897);
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 17px;
  letter-spacing: 2px;
}

.type2:after,
.type2:before{
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(138, 135, 135, 0.808);
  transition: all 0.3s ease;
  transform: scale(0.55);
}

.type2:hover:before{
  top: 0;
  transform: scale(1);
}

.type2:hover:after{
  transform: scale(1);
}

/******************** BOTON type3 ********************/  
.type3{
  color:rgb(9, 150, 107);
  position:absolute;
  margin-top: 60px;
  margin-left: 150px;
}

.type3::after,
.type3::before{
  content: '';
  display: block;
  position: absolute;
  width: 15%;
  height: 20%;
  border: 1px solid;
  transition: all 0.6s ease;
  border-radius: 3px;
}

.type3::after{
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: rgb(9, 150, 107);
  border-right-color: rgb(9, 150, 107);
}
.type3::before{
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: rgb(9, 150, 107);
  border-left-color: rgb(9, 150, 107);
}

.type3:hover:after,
.type3:hover:before{
  border-bottom-color: rgb(9, 150, 107);
  border-right-color: rgb(9, 150, 107);
  border-top-color: rgb(9, 150, 107);
  border-left-color: rgb(9, 150, 107);
  width: 105%;
  height: 110%;
  background-color: rgba(3, 146, 103, 0.178);
}


/******************* BOTON type4 **********************/
.type4{
  color:rgb(29, 165, 124);
}

.type4::after{
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  background-color:rgb(29, 165, 124);
  transition: width 0.3s ease-in-out;
}

.type4::after{
      bottom: 0;
}
.type4:hover::after{
      width: 150px;
}

/************************************/


.zoom1:hover{
  transition: ease 0.3s;
  transform:scale(1.15);
}

.subtotal{
  text-align: center;
}

.zoom2:hover {
  transform: scale(1.10);
  transition: ease 0.7s;
  filter:saturate(2.3);
}

.zoom2 {
  transition: ease 0.5s;
}

/****************   *******************/


input:disabled{
  background-color: transparent;
  color: rgb(83, 82, 82);
}


.gradient-profile{
  background: linear-gradient(to top,rgba(128, 128, 128, 0.089),rgba(43, 154, 245, 0.02),transparent);
}

.blue{
  color: rgb(4, 85, 105);
}

.blueI:enabled::placeholder{
  color: rgba(2, 31, 51, 0.479);
}


/******************** INPUT SUBIR IMG AL PERFIL *****************************/

  /* Estilo del área del input[file] */
  .drag-drop {
    height: 8em;
    width: 8em;
    background-color: #ccc;
    border-radius: 4em;
    text-align: center;
    color: white;
    position: relative;
    margin:0 auto 1em;
}

.drag-drop span.desc {
  display:block;
  font-size: .7em;
  padding: 0 .5em;
  color: #000;
}

input[type="file"] {
        height: 10em;
        opacity: 0;
        position:absolute;
        top: 0;
        left: 0;
        width: 100%; 
        z-index: 3;
}

/* Estilo del área del input[file] con :hover */

.drag-drop:hover, input[type="file"]:hover {
    background-color: #3276b1;
    cursor: pointer;
}

.drag-drop:hover span.desc {
    color: #fff;
} 

.drag-drop:hover .pulsating {
    animation: pulse1 1s linear infinite;
    animation-direction: alternate ;
    -webkit-animation: pulse1 1s linear infinite;
    -webkit-animation-direction: alternate ;
}

/* Composición del icono de Upload con FontAwesome */

.fa-stack .top { color: white; }

.fa-stack .medium { 
    color: black;
    text-shadow: 0 0 .25em #666;
}

.fa-stack .bottom { color: rgb(241, 241, 241); }

/* Keyframing de la animación */

@keyframes pulse1 {
 0% { color: rgba(225, 225, 225, .75); }
 50% { color: rgba(225, 225, 225, 0.25); }
 100% { color: rgba(225, 225, 225, .75); }
}

@-moz-keyframes pulse1 {
 0% { color: rgba(225, 225, 225, .75); }
 50% { color: rgba(225, 225, 225, 0.25); }
 100% { color: rgba(225, 225, 225, .75); }
}

@-webkit-keyframes pulse1 {
 0% { color: rgba(225, 225, 225, .75); }
 50% { color: rgba(225, 225, 225, 0.25); }
 100% { color: rgba(225, 225, 225, .75); }
}

@-ms-keyframes pulse1 {
 0% { color: rgba(225, 225, 225, .75); }
 50% { color: rgba(225, 225, 225, 0.25); }
 100% { color: rgba(225, 225, 225, .75); }
}